{{notice}}

<form action="/admin" method="post">
  admin twitter account id: <input type="text" name="twitter_account_id" value="{{twitter_id}}"/><br/>
  <input type="submit" value="update" />
</form>


{{>new_post}}