<script type="text/template" id="article-template">
	<div class='row'>
    		<span class="nav_icon play"></span>
				<strong><%= title %></strong>
	</div>

	<div class='row'>
			<span class="nav_icon quato"></span>
    	<div class="content"><%= content %></div>
	</div>
</script>