<script type="text/template" id="comment-template">
	<pre class='prettyprint'><%=comment%></pre>
</script>

<script type="text/template" id="comments-template">
	<ul class='unstyled' id='comments'>
	</ul>
	<form action="" method="post" class='new_comment'>
	  <textarea name="comment" rows=3 cols='20'></textarea>
		<input type="hidden" value="" id='article_id'/>		
		<input type="submit" value="post" class='btn primary' />
	</form>
</script>


